/*Common properties*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #404040;
    position: relative;
    
}

p {
    text-align: justify;
    text-justify: inter-word;
}

h3,
h2,
h4 {
    color: #404040;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 15px;
}

h3 {
    font-size: 28px;
}

.heading-intro {
    padding-top: 20px;
    padding-bottom: 20px;
}

#why-tenets-web {
    margin-top: 40px;
    background-color: #f0f2f3;
}


/*Tag line */

.image-sub {
    background: url('../images/app-support/banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: auto;
    padding-top: 10px;
    opacity: 1;
}

.image-sub .caption h3 {
    padding-top: 20px;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}


/*Application support why**/

.sub-head p {
   
    padding-left: 5%;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

#app-support {
   
    background-color: #f0f2f3;
}


.app-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 30%;
}

.caption .btn-start {
    color: #404040;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 35%;
    background: #1DE9B6;
    box-shadow: 2px 2px 1px #888888;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn-start:hover {
    background: white;
}


/*Offerings*/

#support-offering .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 100px;
  }

.right-services {
    text-align: right;
}

.left-services {
    text-align: left;
}

.center-services {
    position: relative;
    height: 500px;
    width: 50px;
    margin-left: 3%;
    margin-right: 3%;    
    
    padding-left: 10px;
    padding-right: 10px;
  }
  .center-services .img-responsive {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    position: absolute;
  }
.app-support-offer {
    background: rgba(240, 242, 243, 1);
    width: 95%;
    border-radius: 50px;
    margin-bottom: 40px;
}

.app-support-offer .offir-span {
    color: #404040;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.app-support-offer-img1 {
    background: url('../images/app-support/ap-incident.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img2 {
    background: url('../images/app-support/ap-performance.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img3 {
    background: url('../images/app-support/ap-resiliency.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img4 {
    background: url('../images/app-support/ap-cr.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img5 {
    background: url('../images/app-support/ap-minor.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img6 {
    background: url('../images/app-support/ap-config.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img7 {
    background: url('../images/app-support/ap-support.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img8 {
    background: url('../images/app-support/ap-ticket.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img9 {
    background: url('../images/app-support/ap-bug.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}
.app-support-offer-img10 {
    background: url('../images/app-support/ap-root.svg') no-repeat;
    height: 62px;
    width: 62px;
    display: inline-block;
    
}

.app-support-sub{
    margin-left: 60px;
}

/****app support method***/


#support-method .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 120px;
  }

  .app-support-subhead{
      margin-bottom: 20px;
  }
  .method-text{
      padding-left: 40px;
      padding-right: 20px;
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
    
  }

  #support-method{
      margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .fa-fw {
      margin-right: 10px;
      color:#1DE9B6;
  }

  /********Why choose us **************/


  #app-support-why-us .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 100px;
  }
  #app-support-why-us{
      background-color: #f0f2f3;
      
  }
 

  /****Specilization***/
  #app-support-specialize .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 180px;
  }
  #app-support-specialize,
  #app-support-specialize p
  {
     text-align: center;
     font-size:16px;
     font-weight: 400;
     line-height: 30px;

      
  }
  
  .app-support-specialize .fa-fw{
    color:#1D31E9;
  }
@media (min-width:1200px) {
    .img-size{
        height:250px;
        width:300px;
    }

   
}

@media (min-width:992px) and (max-width:1199px) {
   
    .app-support-sub{
        margin-left: 60px;
    }
    .img-size{
        height:250px;
        width:300px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .sub-head {
        padding-bottom: 30px;
    }
  
    .app-support-offer .offir-span {
        font-size: 13px;
    }
    .app-support-sub{
        margin-left:0px;
    }
   
}

@media (max-width: 767px) {
    .app-support-image {
        width: 300px;
        height: 300px;
    }
    .app-support-image .img-responsive {
        margin-left: 60%;
    }
    .center-services{
        display: none;
    }
    .sub-head {
        padding-bottom: 30px;
    }
   
    .app-support-offer {
        
          width: 58%;
          margin-left:18%;
      }
    .app-support-offer .offir-span {
        font-size: 13px;
    }
    .caption .btn-start {
        margin-left: 30%;
      }
      .app-support-sub{
        margin-left: 0px;
    }
    #support-method .img-responsive{
        height: 50%;
        width:50%;
        margin: auto;
        padding-bottom: 20px;
    }
    #app-support-why-us .img-responsive{
        height: 50%;
        width:50%;
        margin: auto;
        padding-bottom: 20px;
    }
    .method-text{
        font-size: 14px;
        line-height: 30px;
        font-weight: 400;
    }
}
@media (max-width: 590px) {
    .app-support-image {
        width: 300px;
        height: 300px;
    }
    .app-support-image .img-responsive {
        margin-left: 30%;
    }
}
@media (max-width: 479px) {
    .app-support-image{
        display:none;
    }
    .sub-head>p {
        font-size: 13px;
        line-height: 26px;
    }
    .app-support-offer {
        
          width: 80%;
          margin-left: 5%;
          
      }
      #app-support{
          padding-left: 5px;
          padding-right:5px;

      }
   
    .app-support-offer .offir-span {
        font-size: 12px;
    }
    .caption .btn-start {
        font-size: 14px;
        font-weight: 600;
        margin-left: 30%;
      }
    .app-support-sub{
       margin-left: 0px;
    }
}