

/***Common****/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
    position: relative;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.image-sub .caption h3 {
    color: rgb(255, 247, 247);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

h3,
h2,
h4 {
    color: #333232;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 5px;
}

h3 {
    font-size: 28px;
}

.fa-fw {
    margin-right: 10px;
    color: #1DE9B6;
}

.heading-intro {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*****heading ****/

.image-sub {
    background: linear-gradient( rgb(10, 10, 10), rgba(255, 251, 251, 0.1)), url('../images/digital-marketing/heading.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: auto;
    padding-top: 10px;
    opacity: 1;
}


/**Why digital**/

#about-digital {
    padding-bottom: 20px;
}

#about-digital .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 200px;
}

.sub-head p {
    padding-top: 5%;
    padding-left: 5%;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.caption .btn-start {
    color: #404040;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 40px;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 35%;
    background: #1DE9B6;
    box-shadow: 2px 2px 1px #888888;
}

.btn {
    border: 0;
    border-radius: 0;
}

.btn-start:hover {
    background: white;
}


/*************Offering*********/

.offer-image {
    padding: 7%;
    text-align: center;
}

#services-offered {
    margin-top: 20px;
    background: url('../images/digital-marketing/bg-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: auto;
    padding-top: 10px;
    opacity: 1;
}

#services-offered h4 {
    font-size: 22px;
    font-weight: 700;
}

#services-offered .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 200px;
}


/*******how email done***/

#how-we-do-email {
    background: #EEEEEE;
}

.how-we-right-pane {
    margin-top: 2%;
}

#how-we-do-email .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 200px;
}

#how-we-do-email .img-responsive {
    margin:auto;
}

.how-we-steps {
    padding-left: 25px;
}


/********How CRM done ****/

.how-we-right-pane {
    margin-top: 2%;
}


#how-we-do-crm .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 150px;
}

#how-we-do-crm .img-responsive {
    margin:auto;
}

.how-we-steps {
    padding-left: 25px;
}


/********how we do social****/

#how-we-do-social {
    background: #EEEEEE;
}

.how-we-right-pane {
    margin-top: 2%;
}

#how-we-do-social .web-heading:before {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1DE9B6;
    content: '';
    width: 150px;
}

#how-we-do-social .img-responsive {
    margin: auto;
}

.how-we-steps {
    padding-left: 25px;
}


/************tech stack***********/

.image-container {
    text-align: center;
}

.category {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#technology {
    background-color: #272727;
    text-align: center;
}

#technology h3{
    color:white;
    
}
#tech-stack p{
    text-align: center;
    color: #C2BDBD;
}

.tech-image img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease;
    color: black;
    height: 100%;
    width: 100%;
}

.tech-image img:hover {
    filter: grayscale(0%);
    transform: scale(1.2, 1.2);
}

@media (max-width:1200px) {}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .img-responsive {
        margin-left: 10%;
    }
    #how-we-do-email .img-responsive {
        padding-left: 0;
        margin-top: 50%;
    }
}

@media (max-width: 768px) {}

@media (max-width: 479px) {}