/***Common****/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #4E4E4E;
  position: relative;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.image-sub .caption h3 {
  color: rgb(255, 247, 247);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

h3,
h2,
h4 {
  color: #333232;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 10px;
}

h3 {
  font-size: 32px;
}



.fa-fw {
  margin-right: 10px;
  color: #1DE9B6;
}

.heading-intro {
  padding-top: 20px;
  padding-bottom: 20px;
}


/*****heading ****/

.image-sub {
  background: linear-gradient( rgb(10, 10, 10), rgba(255, 251, 251, 0.1)), url('../images/software-development/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: auto;
  padding-top: 10px;
  opacity: 1;
}


/*******why software dev***/

#about-sft-dev {
  padding-bottom: 20px;
}

#about-sft-dev .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 230px;
}

.sub-head p {
  padding-top: 5%;
  padding-left: 5%;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.caption .btn-start {
  color: #404040;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 35%;
  background: #1DE9B6;
  box-shadow: 2px 2px 1px #888888;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn-start:hover {
  background: white;
}


/*****offering*********/

.image-container {
  text-align: center;
}

#sd-offer {
  background: url('../images/software-development/bg3.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: auto;
  padding-top: 10px;
  opacity: 1;
}

.category {
  display: inline-block;
  margin: 20px;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
#sd-offer img {
  height: 120px;
  width: 120px;
  margin: 10px;
}

#sd-offer .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 180px;
}

.image-container h4 {
  font-size: 20px;
  font-weight: 400;
}


/***********sft prod dev****/

#product-sd .sd-padding {
  padding-left: 20px;
  padding-top: 15px;
}

#product-sd {
  background-color: #f0f2f3;
  line-height: 26px;
  font-size: 15px;
}


/*******Custom SD Dec****/

#custom-sd .sd-padding {
  padding-left: 20px;
  padding-top: 15px;
}
.custom-sd-image{
  height: 300px;
}

#custom-sd{
  line-height: 26px;
  font-size: 15px;
}

/*******Methodology****/

.custom-sd-image .img-responsive {
  margin: 30px;
}

#methodology .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 180px;
}


/**** why tenets ***/

#why-tenets-web .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 250px;
}

#why-tenets-web {
  margin-top: 40px;
  background-color: #f0f2f3;
}

.why-icon {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}

.fa-superpowers {
  color: #9B26AF;
}

.fa-user-plus {
  color: #0091EA;
}

.fa-bullseye {
  color: #00BF9A;
}

.fa-check {
  color: #FF4081;
}

.fa-users {
  color: #FF5722;
}

.fa-cogs {
  color: #59A825;
}


/****Specilization***/

#app-support-specialize .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 220px;
}

#app-support-specialize,
#app-support-specialize p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.app-support-specialize .fa-fw {
  color: #1D31E9;
}

#app-support-specialize ul {
  list-style-type: none;
  padding-left: 0px;
}


/***************Tech stack************/

.image-container {
  text-align: center;
}

.category-tech {
  display: inline-block;
  width: 80px;
  height: 50px;
  margin: 10px;
}

#technology {
  padding: 0;
}

#tech-stack {
  padding-left: 19%;
  padding-right: 19%;
  background-color: #272727;
  padding-bottom: 3%;
}

#tech-stack .web-heading {
  color: white;
}

.tech-image img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease;
  color: black;
  height: 100%;
  width: 100%;
}

.tech-image img:hover {
  filter: grayscale(0%);
  transform: scale(1.2, 1.2);
}

@media (max-width: 575px) {
  .custom-sd-image {
    display: none;
  }
  .why-tenets-image {
    display: none;
  }

  .image-container h4 {
    font-size: 16px;
    font-weight: 400;
  }
  .category-tech {
    display: inline-block;
    width: 60px;
    height: 40px;
    margin: 10px;
  }
  .caption .btn-start{
    margin-left:28%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .custom-sd-image {
    display: none;
  }


  .image-container h4 {
    font-size: 18px;
    font-weight: 400;
  }
  .why-tenets-image {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #methodology {
    height: 600px;
  }
  #product-sd {
    height: 700px;
  }
  #custom-sd .col-sm-6 {
    height: 750px;
  }
  #custom-sd {
    height: 1100px;
  }
  #custom-sd .col-sm-6 {
    height: 600px;
  }
  #custom-sd p {
    line-height: 30px;
    font-size: 14px;
  }
  .custom-sd-image {
    height: 300px;
  }
  #custom-sd .custom-sd-image {
    margin-top: 20%;
  }
 
  .method-sub p {
    font-size: 14px;
    line-height: 28px;
  }
  .method-sub {
    height: 180px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #custom-sd .custom-sd-image {
    margin-top: 10%;
  }
  .method-sub {
    height: 220px;
  }
  #product-sd .custom-sd-image {
    height:350px;
    width: 400px;
    margin-left: 5%;
  }
}

@media (min-width: 1200px) {
  .method-sub {
    height: 200px;
  }
  #product-sd .custom-sd-image {
    height:350px;
    width: 400px;
    margin-left: 5%;
  }
}