/*Common properties*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
  position: relative;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

h3,
h2,
h4 {
  color: #404040;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 15px;
}

h3 {
  font-size: 28px;
}

.heading-intro {
  padding-top: 20px;
  padding-bottom: 20px;
}

#why-tenets-web {
  margin-top: 40px;
  background-color: #f0f2f3;
}


/*Tag line */

.image-sub {
  background: linear-gradient( rgba(15, 15, 15, 0.8), rgba(0, 0, 0, 0.8)), url('../images/web-development/sd.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: auto;
  padding-top: 10px;
  opacity: 1;
}


/*Website and offerings */

.sub-head p {
  padding-top: 3%;
}

#web-service {
  padding-left: 19%;
  padding-right: 19%;
  background-color: #f0f2f3;
}

.web-image {
  height: 350px;
  width: 350px;
}

.web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 40%;
}

#technology .web-heading:before {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 80px;
}
#how-we-do .web-heading:before{
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 120px;
}
#services .web-heading:before
{
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #1DE9B6;
  content: '';
  width: 15%;
}

.caption .btn-start {
  color: #404040;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 40px;
  border-radius: 4px;
  margin-top: 40px;
  margin-left: 35%;
  background: #1DE9B6;
  box-shadow: 2px 2px 1px #888888;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn-start:hover {
  background: white;
}

#web-service-offer {
  padding-left: 80px;
  padding-right: 80px;
}

.web-service-details .offir-span {
  color: #404040;
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
}

.web-service-details {
  background: rgba(240, 242, 243, 1);
  width: 95%;
  border-radius: 50px;
  margin-bottom: 40px;
}

.web-service-details-img1 {
  background: url(../images/web-development/spa.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-right: 10px;
}

.web-service-details-img2 {
  background: url(../images/web-development/responsive.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-right: 10px;
}

.web-service-details-img3 {
  background: url(../images/web-development/ecommerce.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-right: 10px;
}

.web-service-details-img4 {
  background: url(../images/web-development/content.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-right: 10px;
}

.web-service-details-img5 {
  background: url(../images/web-development/seo.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-left: 10px;
}

.right-services {
  text-align: right;
}

.web-service-details-img6 {
  background: url(../images/web-development/website-upgrade.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-left: 10px;
}

.web-service-details-img7 {
  background: url(../images/web-development/performance.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-left: 10px;
}

.web-service-details-img8 {
  background: url(../images/web-development/web-enhanc.svg) no-repeat;
  height: 62px;
  width: 62px;
  display: inline-block;
  margin-left: 10px;
}

.center-services {
  position: relative;
  height: 420px;
  padding-left: 10px;
  padding-right: 10px;
}

.center-services .img-responsive {
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  align-content: center;
  position: absolute;
}


/******Web banner ****/

.innerbanner.other {
  background: linear-gradient( rgba(46, 46, 46, 0.7), rgba(0, 0, 0, 0.7)), url(../images/web-development/crew1.png) no-repeat;
  width: 100%;
  height: 300px;
}

.innerbanner {
  display: table;
  position: inherit;
  background-size: cover;
  position: inherit;
  background-attachment: fixed !important;
  margin-top: 25px;
  margin-bottom: 25px;
}

.inner-banner-div {
  display: table-cell;
  vertical-align: middle;
  padding-right:10px;
  padding-left:10px;
}

.inner-banner-div>h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.inner-banner-div h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
}

.why-tenets-image {
  margin-top: 45px;
}

.point_img {
  position: relative;
}

.left-how {
  float: left;
  text-align: center;
  min-height: 240px;
}

.left-how .title {
  font-size: 18px;
  font-weight: 400;
  color: #172957;
  background: #f0f2f3;
  border-radius: 40px;
  padding: 20px;
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
}

.left-how p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  float: left;
  color: #404040;
  line-height: 30px;
}

.left-how .engage:before {
  width: 76px;
  height: 65px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/engage.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.left-how .user-friendly:before {
  width: 76px;
  height: 65px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/user-friend.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.left-how .edge:before {
  width: 76px;
  height: 65px;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/edge.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.right-how {
  float: right;
  text-align: center;
  min-height: 240px;
}

.right-how .title {
  font-size: 18px;
  font-weight: 400;
  color: #172957;
  background: #f0f2f3;
  border-radius: 40px;
  padding: 20px;
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
}

.right-how p {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  float: left;
  color: #404040;
  line-height: 30px;
}

.right-how .versatile:after {
  width: 67px;
  height: 65px;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/versatile.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.right-how .strategy:after {
  width: 67px;
  height: 65px;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/strategy.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.right-how .mobile-first:after {
  width: 67px;
  height: 65px;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50px;
  background: url(../images/web-development/mobile-first.svg) no-repeat;
  text-align: center;
  margin: 0 auto;
}

.img-web-how {
  height: 250px;
  width: 95%;
  position: absolute;
  left: 0;
  top: 100px;
}

.web-left-how {
 
  padding-bottom: 10px;
}


/**** why tenets ***/

.why-icon {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}

.fa-superpowers {
  color: #9B26AF;
}

.fa-user-plus {
  color: #0091EA;
}

.fa-bullseye {
  color: #00BF9A;
}

.fa-check {
  color: #FF4081;
}

.fa-users {
  color: #FF5722;
}

.fa-cogs {
  color: #59A825;
}


/***************Tech stack************/
.image-container {
  text-align: center;
}

.category {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.category-jquery {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin: 10px;
}
#technology{
  padding:0;
}
#tech-stack {
  padding-left: 19%;
  padding-right: 19%;
  background-color: #272727;
  padding-bottom: 3%;
}

#tech-stack .web-heading {
  color: white;
}

.tech-image img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease;
  color: black;
  height: 100%;
  width:100%;
}

.tech-image img:hover {
  filter: grayscale(0%);
  transform: scale(1.2, 1.2);
}


/***Responsive design css*/

@media (max-width:1200px) {
 
}

@media (min-width:992px) and (max-width:1199px) {

  .web-service-details .offir-span {
    font-size: 14px;
  }
  .web-start-breif {
    margin-bottom: 20px;
  }
  .web-image {
    height: 310px;
    width: 310px;
    
  }
  .right-how p {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    float: left;
    color: #404040;
    line-height: 25px;
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .sub-head {
    padding-bottom: 30px;
  }
  .web-image {
    height: 310px;
    width: 310px;
  }
  .web-image .img-responsive {
    margin-left: 30%;
    height: 100%
  }
  .web-service-details {
    margin-bottom: 20px;
  }
  .why-tenets-image {
    display: none;
  }
  #mob {
    padding-left: 0;
  }
  .right-how .title {
    font-size: 16px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 30px;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
  }
  .right-how .versatile:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .right-how .strategy:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .right-how .mobile-first:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .engage:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .user-friendly:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .edge:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .right-how p {
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    float: left;
    color: #404040;
    line-height: 20px;
  }
  .left-how .title {
    font-size: 16px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 30px;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
  }
  .left-how p {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    float: left;
    color: #404040;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .sub-head {
    padding-bottom: 30px;
  }
  .heading-intro>p {
    margin-left: 20px;
    margin-right: 20px;
  }

  
  .web-image .img-responsive {
    height: 100%;
    margin-left: 10%;
  }
  .why-tenets-image {
    display: none;
  }
  h3 {
    font-size: 24px;
  }
  .caption .btn-start {
    font-size: 16px;
    font-weight: 600;
  }
  .caption>p {
    padding-top: 0px;
    font-size: 16px;
  }
  .right-how .title {
    font-size: 18px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 30px;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 100%;
    position: relative;
  }
  .middle-how .point_img {
    display: none;
  }
  .right-how {
    float: left;
    text-align: center;
    min-height: 240px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .left-how {
    float: left;
    text-align: center;
    min-height: 240px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .left-how .title {
    font-size: 16px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 40px;
    padding: 15px;
    margin: 0 0 10px 0;
    width: 110%;
    padding-left: 50px;
    position: relative;
  }
  .right-how .title {
    font-size: 16px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 40px;
    padding: 15px;
    margin: 0 0 10px 0;
    width: 110%;
    padding-left: 50px;
    position: relative;
  }
  .right-how p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    float: right;
    color: #404040;
    line-height: 25px;
  }
  .left-how p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    float: right;
    color: #404040;
    line-height: 25px;
  }
  .right-how .versatile:after {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .right-how .strategy:after {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .right-how .mobile-first:after {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .left-how .engage:before {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .left-how .user-friendly:before {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .left-how .edge:before {
    width: 55px;
    height: 55px;
    border-radius: 50px;
  }
  .caption .btn-start {
    margin-left: 28%;
  }
  #why-tenets-web {
    margin-bottom: 0px;
    margin-top: 0px;
  }
 
}

@media (max-width: 479px) {
  #web-service-offer {
    padding-left: 30px;
    padding-right: 30px;
  }
  .left-how {
    float: left;
    text-align: center;
    min-height: 240px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .right-how {
    float: left;
    text-align: center;
    min-height: 240px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .category {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .category-jquery {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 10px;
  }
  #why-tenets-web {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  h3 {
    font-size: 18px;
  }
  .web-image {
    height: 250px;
    width: 250px;
  }
  .caption .btn-start {
    font-size: 14px;
    font-weight: 600;
    margin-left: 13%;
  }
  .sub-head>p {
    font-size: 13px;
  }
  .why-tenets-image {
    display: none;
  }
  .web-image .img-responsive {
    margin-left: -5px;
    padding: 0;
  }
  .web-service-details .offir-span {
    font-size: 13px;
  }
  .web-service-details {
    width: 100%;
  }
  .web-service-details-img1 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img2 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img3 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img4 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img5 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img6 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img7 {
    height: 50px;
    width: 50px;
  }
  .web-service-details-img8 {
    height: 50px;
    width: 50px;
  }
  .center-services {
    display: none;
  }
  .left-how .title {
    font-size: 14px;
    font-weight: 400;
    color: #172957;
    background: #f0f2f3;
    border-radius: 40px;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 100%;
    padding-left: 50px;
    position: relative;
  }
  .right-how .title {
    font-size: 14px;
    font-weight: 400;
    border-radius: 40px;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 100%;
    
  }
  .right-how p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    float: right;
    color: #404040;
    line-height: 24px;
  }
  .left-how p {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    float: right;
    color: #404040;
    line-height: 24px;
  }
  .right-how .versatile:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .right-how .strategy:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .right-how .mobile-first:after {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .engage:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .user-friendly:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .left-how .edge:before {
    width: 45px;
    height: 45px;
    border-radius: 50px;
  }
  .web-left-how {
    margin-bottom: 10px;
  }
  .web-right-how {
    margin-bottom: 10px;
  }
  .mobile-first{
    padding-right: 30px!important;
    padding-left: 0px!important;
  }
  .inner-banner-div>h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}
}
@media (max-width: 290px) {
  #web-service-offer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .left-services{
    padding-left: 15px;
    padding-right: 15px;
  }
  .web-image {
    height: 210px;
    width: 210px;
  }
  .web-service-details .offir-span {
    font-size: 12px;
}
}